a{color: black;}
a:hover{color: green;}

body{display: flex;flex-direction: column}  /*  header,body,footer，三个板块*/
main{display: flex;flex: auto}                        /*只有aside article */
aside{flex:1;}
article{flex:3;}




